<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<array>
	<dict>
		<key>price</key>
		<string>10</string>
		<key>Identifier</key>
		<array>
			<string>iPhone1,1</string>
		</array>
		<key>color</key>
		<array>
			<string>Black</string>
		</array>
		<key>name</key>
		<string>iPhone</string>
	</dict>
	<dict>
		<key>price</key>
		<string>10</string>
		<key>Identifier</key>
		<array>
			<string>iPhone1,2</string>
		</array>
		<key>color</key>
		<array>
			<string>White</string>
			<string>Black</string>
		</array>
		<key>name</key>
		<string>iPhone 3G</string>
	</dict>
	<dict>
		<key>price</key>
		<string>20</string>
		<key>Identifier</key>
		<array>
			<string>iPhone2,1</string>
		</array>
		<key>color</key>
		<array>
			<string>White</string>
			<string>Black</string>
		</array>
		<key>name</key>
		<string>iPhone 3GS</string>
	</dict>
	<dict>
		<key>price</key>
		<string>15</string>
		<key>Identifier</key>
		<array>
			<string>iPhone3,1</string>
			<string>iPhone3,2</string>
			<string>iPhone3,3</string>
		</array>
		<key>color</key>
		<array>
			<string>White</string>
			<string>Black</string>
		</array>
		<key>name</key>
		<string>iPhone 4</string>
	</dict>
	<dict>
		<key>price</key>
		<string>25</string>
		<key>Identifier</key>
		<array>
			<string>iPhone4,1</string>
		</array>
		<key>color</key>
		<array>
			<string>White</string>
			<string>Black</string>
		</array>
		<key>name</key>
		<string>iPhone 4S</string>
	</dict>
	<dict>
		<key>price</key>
		<string>35</string>
		<key>Identifier</key>
		<array>
			<string>iPhone5,1</string>
			<string>iPhone5,2</string>
		</array>
		<key>color</key>
		<array>
			<string>Black &amp; Slate</string>
			<string>White &amp; Silver</string>
		</array>
		<key>name</key>
		<string>iPhone 5</string>
	</dict>
	<dict>
		<key>price</key>
		<string>35</string>
		<key>Identifier</key>
		<array>
			<string>iPhone5,3</string>
			<string>iPhone5,4</string>
		</array>
		<key>color</key>
		<array>
			<string>Pink</string>
			<string>White</string>
			<string>Yellow</string>
			<string>Blue</string>
			<string>Green</string>
		</array>
		<key>name</key>
		<string>iPhone 5c</string>
	</dict>
	<dict>
		<key>price</key>
		<string>65</string>
		<key>Identifier</key>
		<array>
			<string>iPhone6,1</string>
			<string>iPhone6,2</string>
		</array>
		<key>color</key>
		<array>
			<string>Gold</string>
			<string>Silver</string>
			<string>Space Gray</string>
		</array>
		<key>name</key>
		<string>iPhone 5s</string>
	</dict>
	<dict>
		<key>price</key>
		<string>280</string>
		<key>Identifier</key>
		<array>
			<string>iPhone7,2</string>
		</array>
		<key>color</key>
		<array>
			<string>Gold</string>
			<string>Silver</string>
			<string>Space Gray</string>
		</array>
		<key>name</key>
		<string>iPhone 6</string>
	</dict>
	<dict>
		<key>price</key>
		<string>490</string>
		<key>Identifier</key>
		<array>
			<string>iPhone7,1</string>
		</array>
		<key>color</key>
		<array>
			<string>Gold</string>
			<string>Silver</string>
			<string>Space Gray</string>
		</array>
		<key>name</key>
		<string>iPhone 6 Plus</string>
	</dict>
	<dict>
		<key>price</key>
		<string>330</string>
		<key>Identifier</key>
		<array>
			<string>iPhone8,1</string>
		</array>
		<key>color</key>
		<array>
			<string>Space Gray</string>
			<string>Gold</string>
			<string>Rose Gold</string>
			<string>Silver</string>
		</array>
		<key>name</key>
		<string>iPhone 6s</string>
	</dict>
	<dict>
		<key>price</key>
		<string>490</string>
		<key>Identifier</key>
		<array>
			<string>iPhone8,2</string>
		</array>
		<key>color</key>
		<array>
			<string>Space Gray</string>
			<string>Gold</string>
			<string>Rose Gold</string>
			<string>Silver</string>
		</array>
		<key>name</key>
		<string>iPhone 6s Plus</string>
	</dict>
	<dict>
		<key>price</key>
		<string>460</string>
		<key>Identifier</key>
		<array>
			<string>iPhone8,4</string>
		</array>
		<key>color</key>
		<array>
			<string>Space Gray</string>
			<string>Gold</string>
			<string>Rose Gold</string>
			<string>Silver</string>
		</array>
		<key>name</key>
		<string>iPhone SE (1st generation)</string>
	</dict>
	<dict>
		<key>price</key>
		<string>600</string>
		<key>Identifier</key>
		<array>
			<string>iPhone9,3</string>
			<string>iPhone9,1</string>
		</array>
		<key>color</key>
		<array>
			<string>Black</string>
			<string>Jet Black</string>
			<string>PRODUCT(RED)</string>
			<string>Gold</string>
			<string>Rose Gold</string>
			<string>Silver</string>
		</array>
		<key>name</key>
		<string>iPhone 7</string>
	</dict>
	<dict>
		<key>price</key>
		<string>1260</string>
		<key>Identifier</key>
		<array>
			<string>iPhone9,2</string>
			<string>iPhone9,4</string>
		</array>
		<key>color</key>
		<array>
			<string>Black</string>
			<string>Jet Black</string>
			<string>PRODUCT(RED)</string>
			<string>Gold</string>
			<string>Rose Gold</string>
			<string>Silver</string>
		</array>
		<key>name</key>
		<string>iPhone 7 Plus</string>
	</dict>
	<dict>
		<key>price</key>
		<string>1100</string>
		<key>Identifier</key>
		<array>
			<string>iPhone10,1</string>
			<string>iPhone10,4</string>
		</array>
		<key>color</key>
		<array>
			<string>PRODUCT(RED)</string>
			<string>Space Gray</string>
			<string>Gold</string>
			<string>Silver</string>
		</array>
		<key>name</key>
		<string>iPhone 8</string>
	</dict>
	<dict>
		<key>price</key>
		<string>1550</string>
		<key>Identifier</key>
		<array>
			<string>iPhone10,2</string>
			<string>iPhone10,5</string>
		</array>
		<key>color</key>
		<array>
			<string>PRODUCT(RED)</string>
			<string>Space Gray</string>
			<string>Gold</string>
			<string>Silver</string>
		</array>
		<key>name</key>
		<string>iPhone 8 Plus</string>
	</dict>
	<dict>
		<key>price</key>
		<string>2000</string>
		<key>Identifier</key>
		<array>
			<string>iPhone10,3</string>
			<string>iPhone10,6</string>
		</array>
		<key>color</key>
		<array>
			<string>Space Gray</string>
			<string>Silver</string>
		</array>
		<key>name</key>
		<string>iPhone X</string>
	</dict>
	<dict>
		<key>price</key>
		<string>2700</string>
		<key>Identifier</key>
		<array>
			<string>iPhone11,8</string>
		</array>
		<key>color</key>
		<array>
			<string>Yellow</string>
			<string>White</string>
			<string>PRODUCT(RED)</string>
			<string>Coral</string>
			<string>Black</string>
			<string>Blue</string>
		</array>
		<key>name</key>
		<string>iPhone XR</string>
	</dict>
	<dict>
		<key>price</key>
		<string>2500</string>
		<key>Identifier</key>
		<array>
			<string>iPhone11,2</string>
		</array>
		<key>color</key>
		<array>
			<string>Silver</string>
			<string>Gold</string>
			<string>Space Gray</string>
		</array>
		<key>name</key>
		<string>iPhone XS</string>
	</dict>
	<dict>
		<key>price</key>
		<string>3100</string>
		<key>Identifier</key>
		<array>
			<string>iPhone11,4</string>
			<string>iPhone11,6</string>
		</array>
		<key>color</key>
		<array>
			<string>Silver</string>
			<string>Gold</string>
			<string>Space Gray</string>
		</array>
		<key>name</key>
		<string>iPhone XS Max</string>
	</dict>
	<dict>
		<key>price</key>
		<string>3500</string>
		<key>Identifier</key>
		<array>
			<string>iPhone12,1</string>
		</array>
		<key>color</key>
		<array>
			<string>Yellow</string>
			<string>Black</string>
			<string>Green</string>
			<string>PRODUCT(RED)</string>
			<string>Purple</string>
			<string>White</string>
		</array>
		<key>name</key>
		<string>iPhone 11</string>
	</dict>
	<dict>
		<key>price</key>
		<string>3740</string>
		<key>Identifier</key>
		<array>
			<string>iPhone12,3</string>
		</array>
		<key>color</key>
		<array>
			<string>Gold</string>
			<string>Midnight Green</string>
			<string>Silver</string>
			<string>Space Gray</string>
		</array>
		<key>name</key>
		<string>iPhone 11 Pro</string>
	</dict>
	<dict>
		<key>price</key>
		<string>4600</string>
		<key>Identifier</key>
		<array>
			<string>iPhone12,5</string>
		</array>
		<key>color</key>
		<array>
			<string>Gold</string>
			<string>Midnight Green</string>
			<string>Silver</string>
			<string>Space Gray</string>
		</array>
		<key>name</key>
		<string>iPhone 11 Pro Max</string>
	</dict>
	<dict>
		<key>price</key>
		<string>1800</string>
		<key>Identifier</key>
		<array>
			<string>iPhone12,8</string>
		</array>
		<key>color</key>
		<array>
			<string>White</string>
			<string>Black</string>
			<string>PRODUCT(RED)</string>
		</array>
		<key>name</key>
		<string>iPhone SE (2nd generation)</string>
	</dict>
	<dict>
		<key>price</key>
		<string>3400</string>
		<key>Identifier</key>
		<array>
			<string>iPhone13,1</string>
		</array>
		<key>color</key>
		<array>
			<string>Green</string>
			<string>Blue</string>
			<string>Purple</string>
			<string>White</string>
			<string>Black</string>
			<string>PRODUCT(RED)</string>
		</array>
		<key>name</key>
		<string>iPhone 12 mini</string>
	</dict>
	<dict>
		<key>price</key>
		<string>4200</string>
		<key>Identifier</key>
		<array>
			<string>iPhone13,2</string>
		</array>
		<key>color</key>
		<array>
			<string>Green</string>
			<string>Blue</string>
			<string>Purple</string>
			<string>White</string>
			<string>Black</string>
			<string>PRODUCT(RED)</string>
		</array>
		<key>name</key>
		<string>iPhone 12</string>
	</dict>
	<dict>
		<key>price</key>
		<string>6000</string>
		<key>Identifier</key>
		<array>
			<string>iPhone13,3</string>
		</array>
		<key>color</key>
		<array>
			<string>Silver</string>
			<string>Graphite</string>
			<string>Gold</string>
			<string>Pacific Blue</string>
		</array>
		<key>name</key>
		<string>iPhone 12 Pro</string>
	</dict>
	<dict>
		<key>price</key>
		<string>7000</string>
		<key>Identifier</key>
		<array>
			<string>iPhone13,4</string>
		</array>
		<key>color</key>
		<array>
			<string>Silver</string>
			<string>Graphite</string>
			<string>Gold</string>
			<string>Pacific Blue</string>
		</array>
		<key>name</key>
		<string>iPhone 12 Pro Max</string>
	</dict>
	<dict>
		<key>price</key>
		<string>5199</string>
		<key>Identifier</key>
		<array>
			<string>iPhone14,4</string>
		</array>
		<key>color</key>
		<array>
			<string>PRODUCT(RED)</string>
			<string>Starlight</string>
			<string>Midnight</string>
			<string>Blue</string>
			<string>Pink</string>
		</array>
		<key>name</key>
		<string>iPhone 13 mini</string>
	</dict>
	<dict>
		<key>price</key>
		<string>5999</string>
		<key>Identifier</key>
		<array>
			<string>iPhone14,5</string>
		</array>
		<key>color</key>
		<array>
			<string>PRODUCT(RED)</string>
			<string>Starlight</string>
			<string>Midnight</string>
			<string>Blue</string>
			<string>Pink</string>
		</array>
		<key>name</key>
		<string>iPhone 13</string>
	</dict>
	<dict>
		<key>price</key>
		<string>8799</string>
		<key>Identifier</key>
		<array>
			<string>iPhone14,2</string>
		</array>
		<key>color</key>
		<array>
			<string>Graphite</string>
			<string>Gold</string>
			<string>Silver</string>
			<string>Sierra Blue</string>
		</array>
		<key>name</key>
		<string>iPhone 13 Pro</string>
	</dict>
	<dict>
		<key>price</key>
		<string>9799</string>
		<key>Identifier</key>
		<array>
			<string>iPhone14,3</string>
		</array>
		<key>color</key>
		<array>
			<string>Graphite</string>
			<string>Gold</string>
			<string>Silver</string>
			<string>Sierra Blue</string>
		</array>
		<key>name</key>
		<string>iPhone 13 Pro Max</string>
	</dict>
	<dict>
		<key>price</key>
		<string>800</string>
		<key>Identifier</key>
		<array>
			<string>iPad4,1</string>
			<string>iPad4,2</string>
			<string>iPad4,3</string>
		</array>
		<key>color</key>
		<array>
			<string>Silver</string>
			<string>Space Gray</string>
		</array>
		<key>name</key>
		<string>iPad Air</string>
	</dict>
	<dict>
		<key>price</key>
		<string>1050</string>
		<key>Identifier</key>
		<array>
			<string>iPad5,3</string>
			<string>iPad5,4</string>
		</array>
		<key>color</key>
		<array>
			<string>Gold</string>
			<string>Silver</string>
			<string>Space Gray</string>
		</array>
		<key>name</key>
		<string>iPad Air 2</string>
	</dict>
	<dict>
		<key>price</key>
		<string>2840</string>
		<key>Identifier</key>
		<array>
			<string>iPad11,3</string>
			<string>iPad11,4</string>
		</array>
		<key>color</key>
		<array>
			<string>Gold</string>
			<string>Silver</string>
			<string>Space Gray</string>
		</array>
		<key>name</key>
		<string>iPad Air (3rd generation)</string>
	</dict>
	<dict>
		<key>price</key>
		<string>4300</string>
		<key>Identifier</key>
		<array>
			<string>iPad13,2</string>
		</array>
		<key>color</key>
		<array>
			<string>Sky Blue</string>
			<string>Green</string>
			<string>Rose Gold</string>
			<string>Silver</string>
			<string>Space Gray</string>
		</array>
		<key>name</key>
		<string>iPad Air (4th generation)</string>
	</dict>
	<dict>
		<key>price</key>
		<string>2500</string>
		<key>Identifier</key>
		<array>
			<string>iPad6,7</string>
			<string>iPad6,8</string>
		</array>
		<key>color</key>
		<array>
			<string>Gold</string>
			<string>Silver</string>
			<string>Space Gray</string>
		</array>
		<key>name</key>
		<string>iPad Pro (12.9-inch)</string>
	</dict>
	<dict>
		<key>price</key>
		<string>1700</string>
		<key>Identifier</key>
		<array>
			<string>iPad6,3</string>
			<string>iPad6,4</string>
		</array>
		<key>color</key>
		<array>
			<string>Rose Gold</string>
			<string>Gold</string>
			<string>Silver</string>
			<string>Space Gray</string>
		</array>
		<key>name</key>
		<string>iPad Pro (9.7-inch)</string>
	</dict>
	<dict>
		<key>price</key>
		<string>2500</string>
		<key>Identifier</key>
		<array>
			<string>iPad7,1</string>
			<string>iPad7,2</string>
		</array>
		<key>color</key>
		<array>
			<string>Gold</string>
			<string>Silver</string>
			<string>Space Gray</string>
		</array>
		<key>name</key>
		<string>iPad Pro (12.9-inch) (2nd generation)</string>
	</dict>
	<dict>
		<key>price</key>
		<string>1960</string>
		<key>Identifier</key>
		<array>
			<string>iPad7,3</string>
			<string>iPad7,4</string>
		</array>
		<key>color</key>
		<array>
			<string>Rose Gold</string>
			<string>Gold</string>
			<string>Silver</string>
			<string>Space Gray</string>
		</array>
		<key>name</key>
		<string>iPad Pro (10.5-inch)</string>
	</dict>
	<dict>
		<key>price</key>
		<string>4140</string>
		<key>Identifier</key>
		<array>
			<string>iPad8,4</string>
			<string>iPad8,3</string>
			<string>iPad8,1</string>
			<string>iPad8,2</string>
		</array>
		<key>color</key>
		<array>
			<string>Silver</string>
			<string>Space Gray</string>
		</array>
		<key>name</key>
		<string>iPad Pro (11-inch)</string>
	</dict>
	<dict>
		<key>price</key>
		<string>3800</string>
		<key>Identifier</key>
		<array>
			<string>iPad8,5</string>
			<string>iPad8,6</string>
			<string>iPad8,7</string>
			<string>iPad8,8</string>
		</array>
		<key>color</key>
		<array>
			<string>Silver</string>
			<string>Space Gray</string>
		</array>
		<key>name</key>
		<string>iPad Pro (12.9-inch) (3rd generation)</string>
	</dict>
	<dict>
		<key>price</key>
		<string>5200</string>
		<key>Identifier</key>
		<array>
			<string>iPad8,9</string>
			<string>iPad8,10</string>
		</array>
		<key>color</key>
		<array>
			<string>Silver</string>
			<string>Space Gray</string>
		</array>
		<key>name</key>
		<string>iPad Pro (11-inch) (2nd generation)</string>
	</dict>
	<dict>
		<key>price</key>
		<string>5900</string>
		<key>Identifier</key>
		<array>
			<string>iPad8,11</string>
			<string>iPad8,12</string>
		</array>
		<key>color</key>
		<array>
			<string>Silver</string>
			<string>Space Gray</string>
		</array>
		<key>name</key>
		<string>iPad Pro (12.9-inch) (4th generation)</string>
	</dict>
	<dict>
		<key>price</key>
		<string>8960</string>
		<key>Identifier</key>
		<array>
			<string>iPad13,4</string>
			<string>iPad13,5</string>
			<string>iPad13,6</string>
			<string>iPad13,7</string>
		</array>
		<key>color</key>
		<array>
			<string>Silver</string>
			<string>Space Gray</string>
		</array>
		<key>name</key>
		<string>iPad Pro (11-inch) (3rd generation)</string>
	</dict>
	<dict>
		<key>price</key>
		<string>11900</string>
		<key>Identifier</key>
		<array>
			<string>iPad13,8</string>
			<string>iPad13,9</string>
			<string>iPad13,10</string>
			<string>iPad13,11</string>
		</array>
		<key>color</key>
		<array>
			<string>Silver</string>
			<string>Space Gray</string>
		</array>
		<key>name</key>
		<string>iPad Pro (12.9-inch) (5th generation)</string>
	</dict>
	<dict>
		<key>price</key>
		<string>240</string>
		<key>Identifier</key>
		<array>
			<string>iPad2,5</string>
			<string>iPad2,6</string>
			<string>iPad2,7</string>
		</array>
		<key>color</key>
		<array>
			<string>Black &amp; Slate</string>
			<string>White &amp; Silver</string>
		</array>
		<key>name</key>
		<string>iPad mini</string>
	</dict>
	<dict>
		<key>price</key>
		<string>440</string>
		<key>Identifier</key>
		<array>
			<string>iPad4,4</string>
			<string>iPad4,5</string>
			<string>iPad4,6</string>
		</array>
		<key>color</key>
		<array>
			<string>Silver</string>
			<string>Space Gray</string>
		</array>
		<key>name</key>
		<string>iPad mini 2</string>
	</dict>
	<dict>
		<key>price</key>
		<string>560</string>
		<key>Identifier</key>
		<array>
			<string>iPad4,7</string>
			<string>iPad4,8</string>
			<string>iPad4,9</string>
		</array>
		<key>color</key>
		<array>
			<string>Gold</string>
			<string>Silver</string>
			<string>Space Gray</string>
		</array>
		<key>name</key>
		<string>iPad mini 3</string>
	</dict>
	<dict>
		<key>price</key>
		<string>1100</string>
		<key>Identifier</key>
		<array>
			<string>iPad5,1</string>
			<string>iPad5,2</string>
		</array>
		<key>color</key>
		<array>
			<string>Gold</string>
			<string>Silver</string>
			<string>Space Gray</string>
		</array>
		<key>name</key>
		<string>iPad mini 4</string>
	</dict>
	<dict>
		<key>price</key>
		<string>2800</string>
		<key>Identifier</key>
		<array>
			<string>iPad11,1</string>
			<string>iPad11,2</string>
		</array>
		<key>color</key>
		<array>
			<string>Gold</string>
			<string>Silver</string>
			<string>Space Gray</string>
		</array>
		<key>name</key>
		<string>iPad mini (5th generation)</string>
	</dict>
	<dict>
		<key>price</key>
		<string>3799</string>
		<key>Identifier</key>
		<array>
			<string>iPad14,1</string>
			<string>iPad14,2</string>
		</array>
		<key>color</key>
		<array>
			<string>Starlight</string>
			<string>Pink</string>
			<string>Purple</string>
			<string>Space Gray</string>
		</array>
		<key>name</key>
		<string>iPad mini (6th generation)</string>
	</dict>
</array>
</plist>
